<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../controller/consulta3.php" method="POST">
        Codigo empleado:<select name ='descue'>
        <option value="5001">5001</a></option>
        <option value="5002">5002</option>
         <option value="5003">5003</option>
         <option value="5004">5004</option>
         <option value="5005">5005</option>
        <option value="5006">5006</option>
         <option value="5007">5007</option>
         <option value="5008">5008</option>
         <option value="5009">5009</option>
         <option value="5010">5010</option>
         <option value="5011">5011</option>
         <option value="5012">5012</option>
         <option value="5013">5013</option>
         <option value="5014">5014</option>
         <option value="5015">5015</option>
         <option value="5016">5016</option>
         <option value="5017">5017</option>
         <option value="5018">5018</option>
         <option value="5019">5019</option>
         <option value="5020">5020</option>
</select>
    <br/>
    <input type="submit" value="PDF">
     <br/>
    
</body>
</html>